@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
        
*{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 6px; 
}

.logo{
    width: 50px;
    height: 50px;
}

.header .nav1 a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.header .nav1 a.active,
.header .nav1 a:hover{
    color: green;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: green;
    min-height: 50vh;
}

.section1 p{
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-weight: 800;
    text-align: justify;
    word-spacing: 3px;
}

.h1{
    font-size: 55px;
}

.section1 .caffee1{
    padding-left: 100px;
    padding-right: 40px;
    width: 300px;
    height: 250px;
    animation:bounce 2s linear 1s infinite alternate;
}

@keyframes bounce{
    to{
        transform: translateY(10px);
    }
}

.section2{
    padding: 20px;
}
h2{
    text-align: center;
    font-size: 35px;
}

.zouhair1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 40px;
}

h1{
    font-size: 45px;
}

.zouhair2{
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    transition: 500ms;
    background-color: green;
}

.zouhair2:hover{
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(26,72,5,1) 29%, rgba(0,127,255,1) 50%, rgba(117,41,115,1) 74%); 
}

.zouhair2 .taja{
    height: 70px;
    width: 70px;
}

.section2 p{
    padding: 10px;
    font-size: 10px;
    text-align: justify;
}

.ul{
    list-style-type: none;
}

.submit2{
    bottom: inherit;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    height: 25px;
    text-align: center;
}
.submit1:hover{
    background-color: black;
    color: white;
}
.zouhair3{
    border-radius: 15px;
    text-align: center;
    width: 300px;
    margin-left: 450px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
    transition: 500ms;
    background-color: green;
}
.search{
    height: 80px;
    border-radius: 6px;
    border: none;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 6px;
}
.footer .nav2 a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
}
.footer .nav2 a:hover{
    color: white;
}
.footer p{
    color: white;
    font-size: 12px;
}
